@import './colors.scss';

.shoppingcart{
    content: attr(current-count);
    width: rem;
    height: 1rem;
    border-radius: 50%;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.7rem;
    z-index: 1;
    margin-bottom: -0.2rem;
    margin-left: -0.3rem;
}
nav{
    height: 5rem;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 10px rgba(0,0,0,0.229);
    background-color: white;


    > div {
        display: flex;
        align-items: center;

        
        > svg {
            font-size: 2rem;
        }
    
        > a {
        margin: 0 2rem;
        color: $dark;
        transition: 0.3s;

        &:hover{
            color: $red;
        }

        }
    }
}

@media screen and (max-width:600px){

nav{
    padding: 0.5rem;

    > div {
        font-size: 15px;
        >p{
            font-size: 23px;
        }
        >svg {
            font-size: 1.5rem;
        }
        > a{
            margin: 0 0.4rem;
        }
    }
}

}