@import 'colors';

.login {
    height: calc(100vh - 5rem);
    width: 100%;
    background-image: url("../assets/BackImage.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;

    >form {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 2rem;
        width: 40%;
        height: auto;
        min-height: 70%;
        max-height: 90%;
        justify-content: center;
        background-color: white;
        border-radius: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        overflow-y: auto;

        >h2 {
            font-size: 1.5rem;
            text-transform: uppercase;
            margin: 0rem 0 1.5rem 0;
            color: black;
        }

        >input,
        >button {
            padding: 1rem;
            outline: none;
            border: 1px solid;
            margin: 0.5rem;
            width: 70%;
            border-radius: 5px;
        }

        >p {
            color: blue;
            text-transform: uppercase;
            cursor: pointer;
        }

        >button {
            background-color: $dark;
            color: white;
            font-size: 1rem;

            &:hover {
                background-color: black;
            }
        }
    }
}

// Tablet View
@media screen and (min-width: 601px) and (max-width: 1024px) {
    .login {
        >form {
            width: 60%;
            padding: 3rem 2rem;
        }
    }
}

// Mobile View
@media screen and (max-width: 600px) {
    .login {
        height: calc(100vh - 5rem);
        background-image: none;
        background-color: white;

        >form {
            width: 100%;
            height: auto;
            padding: 2rem 1rem;
            box-shadow: none;

            >input, >button {
                width: 95%;
            }
        }
    }
}