@import 'colors';

.profile{
    height: 100vh;
width: 100%;
background-image: url("../assets/BackImage.jpg");
background-repeat: no-repeat;
background-size: cover;
display: flex;
align-items: center;
justify-content: center;


    >main{
        height: 100%;
        width: 40%;
        background-color: white;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 4rem;

        >img{
            height: 15rem;
            width: 15rem;
            border-radius: 100%;
            box-shadow: 0 0 10px $dark;
            margin: 4rem;
        }

        >h5{
            font-size: 2rem;
        }

        >div{
        margin: 2rem;
            >a{
                background-color: $dark;
                color: white;
                font-size: 1rem;
                padding: 0.7rem 1.5rem;
                border-radius: 5px;

                &:hover{
                    background-color: black;
                }
            }
        }

        >button{
            border: none;
            outline: none;
            padding: 0.7rem 1.5rem;
            border-radius: 5px;
            cursor: pointer;
            font-weight: 500;
            font-size: 1rem;

            &:hover{
                background-color: rgba(245,245,245,0.864);
            }
        }
    }
}

@media screen and (max-width:600px){
    .profile{
        >main{
            width: 100%;
        }
    }
}
